@import "./custom_colors";

div.container{
    margin-left: 0%;
    height: 100%;
    width: 50%;
}
aside.menu {
    margin: 0%;
    height: 100%;
    width: 50%;
    background-color: #53389f;
    
    .menu-item{
        color: #ffffff;
        padding-top: 30px;
        font-family: 'RockoFLF';
    }
}